<!DOCTYPE html>
<html lang="en">
  <head>
    <title>K8s vis</title>

    <script
      type="text/javascript"
      src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"
    ></script>

    <style type="text/css">
      #mynetwork {
        width: 800px;
        height: 600px;
        border: 1px solid lightgray;
      }
    </style>
  </head>
  <body>

    <div id="mynetwork"></div>

    <script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
        {{ range .Namespaces }}
        { id: {{.Id}}, label: {{.Name}}, color: "red" },
        {{- end }}
         {{ range .Pods }}
        { id: {{.Id}}, label: {{.Name}} },
        {{- end }}
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
        {{ range .Pods }}
        { from: "ns_{{ .Namespace }}", to: "pod_{{.Name}}" },
        {{- end }}
      ]);

      // create a network
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };
      var options = {
      nodes: {
      shape: "box"}
      };
      var network = new vis.Network(container, data, options);
    </script>
  </body>
</html>
